/*import configurations*/

/*default style deviaces*/

#deviceElem * {
  box-sizing: border-box!important;
}

#deviceElem {
  position: relative;
  display: block;
  margin: auto;
  max-width: 370px;
  height: auto;
}

#deviceElem * {
  display: inline-block;
  margin-bottom: 0 !important;
}

#deviceElem .border {
  border-radius: 8%;
  background: #1d1d1d;
  border: 1.5% #c5caca solid;
}

#deviceElem .border > * {
  background: rgb(120, 120, 120);
}

#deviceElem .device-container-top {
  position: absolute;
  margin: 0 -14px;
  left: 50%;
  right: 50%;
  background: transparent;
  width: 28px;
}

#deviceElem .device-container-top .camera {
  background: #fff;
  border: 1.4000000000000001px #c5caca solid;
}

#deviceElem .device-container-top * {
  display: none;
}

#deviceElem .border .interface {
  background: #787878;
  background-position: center;
  background-size: cover;
}

#deviceElem .bottom {
  width: 0;
  height: 0;
  margin: 0 auto;
  display: block;
}

#deviceElem .border .device-button,
#deviceElem .camera {
  border-radius: 100%;
}

#deviceElem .border .device-button {
  display: block;
  width: 9.8px;
  height: 9.8px;
  margin: 4.2px auto;
  border: 1.4000000000000001px solid #c5caca;
  border-radius: 100%;
}

#deviceElem .bottom,
.device .base * {
  background: #c5caca;
}

#deviceElem .base {
  margin: 50px auto 0;
  transition-delay: 0.2s;
}

/*smartphone device*/

#deviceElem.smartphone {
  width: 80px;
}

#deviceElem.smartphone .border {
  display: block;
  margin: 20px auto;
  height: 136px;
  width: 80px;
  border: 2.4px #c5caca solid;
}

#deviceElem.smartphone .device-container-top {
  margin-top: 1.2px;
  height: 5.6000000000000005px;
}

#deviceElem.smartphone .device-container-top * {
  display: block;
}

#deviceElem.smartphone .device-container-top .camera {
  margin: 1.6px;
  height: 2.4px;
  float: left;
  width: 2.4px;
}

#deviceElem.smartphone .device-container-top .speaker {
  background: #c5cacb;
  width: 14.399999999999999px;
  float: right;
  height: 1.2px;
  margin: 2.16px auto;
  border-radius: 0.8px;
}

#deviceElem.smartphone .border .interface {
  display: block;
  width: 64px;
  height: 104px;
  margin: 8px auto;
}

#deviceElem.smartphone .border .device-button {
  width: 8px;
  height: 8px;
}

/*tablet device*/

#deviceElem.tablet {
  width: 140px;
  height: 182px;
}

#deviceElem.tablet .camera {
  display: block;
  height: 4.2px;
  width: 4.2px;
  margin: 3.5px auto;
}

#deviceElem.tablet .border {
  margin: 0 calc(100% - 140px);
  width: 140px;
  height: 100%;
  border: 2px solid #c5caca;
}

#deviceElem.tablet .border .interface {
  display: block;
  margin: 14px auto;
  width: 112px;
  height: 144.2px;
}

/*notebook device*/

#deviceElem.notebook {
  width: 320px;
}

#deviceElem.notebook .border .interface {
  margin: 5%;
  width: 90%;
  height: 123.2px;
}

#deviceElem.notebook .border {
  display: block;
  width: 75%;
  height: 147.84px;
  margin: 20px auto;
  border: none;
  border-radius: 7px;
}

#deviceElem.notebook .border .device-button {
  width: 64px;
  margin: 11.84px -32px;
  height: 8.64px;
  z-index: 3;
  left: 50%;
  right: 50%;
  position: relative;
  border: none;
  border-radius: 0 0 5.6000000000000005px 5.6000000000000005px;
  background: rgb(120,120,120);
}

#deviceElem.notebook .bottom {
  margin-top: 3px;
  z-index: 2;
  width: 100%;
  height: 12.8px;
  border-radius: 0 0 5.6000000000000005px 5.6000000000000005px;
}

/*monitor device*/

#deviceElem.monitor .border .interface {
  margin: 9.25px;
  width: 95%;
  height: 188.70000000000002px;
}

#deviceElem.monitor .border {
  width: 100%;
  height: 207.20000000000002px;
  border-radius: 9.62px 9.62px 0 0;
  border: none;
}

#deviceElem.monitor .border .device-button {
  height: 18.5px;
  width: 18.5px;
}

#deviceElem.monitor .bottom {
  width: 100%;
  height: 29.6px;
  border-radius: 0 0 9.62px 9.62px;
}

#deviceElem.monitor .base {
  width: 100%;
  height: 74px;
  display: block;
  margin: 0 auto;
}

#deviceElem.monitor .base * {
  background: #c5caca;
}

#deviceElem.monitor .base .body {
  display: block;
  margin: 5px auto 0;
  height: 18.5px;
  width: 48.1px;
}

#deviceElem.monitor .base .suport {
  display: block;
  padding: 0;
  width: 74px;
  border-radius: 25px 25px 0 0;
  height: 18.5px;
  margin: -1px auto!important;
}